{{ define "main" }}
  <h1>{{ .Title }}</h1>
  {{ .Content }}
  <div class="card-grid">
    {{ range .Pages }}
      <div class="card card-2">
        <div class="card-img">
          <img class="img-16-9" src="{{ .RelPermalink }}cover.webp" />
        </div>
        <div class="card-text">
          <a href="{{ .RelPermalink }}" class="card-link">
            <h2>{{ .LinkTitle }}</h2>
          </a>
          <p>{{ .Page.Description }}</p>
          {{ partial "tags.html" . }}
        </div>
      </div>
    {{ end }}
  </div>
{{ end }}
