{{ define "main" }}
  <h1 data-pagefind-ignore>{{ or (i18n .Title) .Title }}</h1>
  {{ .Content }}
  <div class="card-grid">
    {{ range .Pages }}
      <div class="card card-1">
        <picture class="card-img img-16-9">
          <img src="{{ .RelPermalink }}cover.webp" />
        </picture>
        <div class="card-text">
          <a href="{{ .RelPermalink }}" class="card-link">
            <h2>{{ .LinkTitle }}</h2>
          </a>
          <p>{{ .Page.Description }}</p>
          {{ partial "tags.html" . }}
        </div>
      </div>
    {{ end }}
  </div>
{{ end }}
