{{ partial "menu/input.html" (dict "name" "theme" "icon" "brightness_6" "type"
  "start")
}}
<div class="menu-options menu-island menu-theme">
  <button onclick="changeTheme('light')" data-theme="light">
    {{ partial "icon.html" "light_mode" }}{{ i18n "light_mode" }}
  </button>
  <button onclick="changeTheme('dark')" data-theme="dark">
    {{ partial "icon.html" "dark_mode" }}{{ i18n "dark_mode" }}
  </button>
  <button onclick="changeTheme(null)" data-theme="system">
    {{ partial "icon.html" "brightness_6" }}{{ i18n "system_default" }}
  </button>
</div>
{{ partial "menu/input.html" (dict "name" "theme" "icon" "brightness_6" "type"
  "end")
}}
<script>
  const changeTheme = (theme) => {
    console.log("changing to", theme);
    const currentTheme = localStorage.getItem("theme");
    document.querySelector("body").style.colorScheme = theme;
    document.querySelectorAll(".menu-theme-icon > span.icon").forEach((i) => {
      i.innerText = theme
        ? { light: "light_mode", dark: "dark_mode" }[theme]
        : "brightness_6";
    });
    document.querySelector(
      `button[data-theme="${currentTheme || "system"}"]`,
    ).style.backgroundColor = "initial";
    document.querySelector(
      `button[data-theme="${theme || "system"}"]`,
    ).style.backgroundColor = "var(--background-tri)";
    if (theme === null) localStorage.removeItem("theme");
    else localStorage.setItem("theme", theme);
    document.activeElement.blur();
  };
  const localTheme = localStorage.getItem("theme");
  changeTheme(localTheme);
</script>
